import sys
import pandas as pd
import numpy
a_list = list()
a_tuple = tuple()
a_list = [1,2,3,4,5]
a_tuple = (1,2,3,4,5)
print(sys.getsizeof(a_list))
print(sys.getsizeof(a_tuple))

In [20]:
import sys, platform
import time
print(platform.python_version())
start_time = time.time()
b_list = list(range(10000000))
end_time = time.time()
print("Instantiation time for LIST:", end_time - start_time)
start_time = time.time()
b_tuple = tuple(range(10000000))
end_time = time.time()
print("Instantiation time for TUPLE:", end_time - start_time)
start_time = time.time()
for item in b_list:
  aa = b_list[20000]
end_time = time.time()
print("Lookup time for LIST: ", end_time - start_time)
start_time = time.time()
for item in b_tuple:
  aa = b_tuple[20000]
end_time = time.time()
print("Lookup time for TUPLE: ", end_time - start_time)

3.6.7
Instantiation time for LIST: 0.20690560340881348
Instantiation time for TUPLE: 0.24247360229492188
Lookup time for LIST:  0.7080817222595215
Lookup time for TUPLE:  0.7638595104217529

## GETTING THE ASCII VALUE OF CHARACTERS

In [49]:
def solution(s):
    c = s[0]
    if ord(c) >= 65 and ord(c) <=90:
        return "Upper"
    elif ord(c) >= 97 and ord(c) <= 122:
        return "Lower"
    elif ord(c) >= 48 and ord(c) <= 57:
        return "digit"
    else:
        return "Other"
    
solution('Kimh')

'Upper'

## HOW TO RETURN THE LOWEST POSITIVE INTEGER NOT IN A LIST

In [95]:
from itertools import count, filterfalse # ifilterfalse on py2

A = [4,14,2,5,3,7,8,12]
print(next(filterfalse(set(A).__contains__, count(1))))

1

In [101]:
A.sort()
if A[1] < 0:
    print (0)
else:
    for x in range (1,(A[-1] + 2)):
        if  A[1] < x:
            continue
        else:

TypeError: must use keyword argument for key function

In [11]:
s = 'Hello Nigeria'
print(s[1:4])

ell

In [12]:
len(s)

13

In [17]:
print(bool(1))
a= True
print(int(True))

True
1

In [20]:
if False:
    print("Failed")

# READ Json Object

In [6]:
#read json file into dataframe
import pandas as pd
import numpy as np
import json
df = pd.read_json(r"C:/Users/Tossen Macs/Downloads/data-assignment/visitors/visitors-part-00000-20200126.json",lines=True)
#df.printSchema()
print(df)

      countPerday country    first_hit_pagename   hits_avg  logged_in region  \
0               1     deu                   NaN  17.278988          0     ni
1               2     gbr         United States   4.936854          0    cov
2               3     prt                Select   6.171067          0     30
3               4     deu              homepage  18.513201          0     nw
4               5     deu   FAQ: Corona updates   8.639494          0     nw
5               6     deu              Myflight   4.936854          0     nw
6               7     deu               Deutsch   2.468427          0     nw
7               8     aut  Eurowings - Check-in   3.702640          0      6
8               9     alb               Deutsch  11.107921          0     11
9              10     srb         United States   1.234213          0     25
10             11     swe               English   6.171067          0     ab
11             12     che               Deutsch   2.468427          0     zh
12             13     aut           Ã–sterreich   2.468427          0      8
13             14     arg              EspaÃ±ol  34.557976          2      c
14             15     deu                Select   2.468427          0     bw
15             16     usa             FranÃ§ais   1.234213          0     ny
16             17     deu              EspaÃ±ol   1.234213          0     hh
17             18     deu                   NaN   3.702640          0     nw
18             19     deu                Select   8.639494          0     nw
19             20     deu                   NaN   6.171067          0     nw
20             21     deu             FranÃ§ais   4.936854          0     nw
21             22     esp               Deutsch  50.602751          1     pm
22             23     deu               Deutsch  25.918482          0     bw
23             24     svk               Deutsch  28.386909          0     zi
24             25     deu               Deutsch   6.171067          0     bw
25             26     deu               Deutsch   9.873707          0     by
26             27     che              homepage   1.234213          0     vd
27             28     deu  Eurowings - Check-in  14.810561          0     nw
28             29     deu               Deutsch  86.394940          2     nw
29             30     deu  Eurowings - Check-in   1.234213          0     ni
...           ...     ...                   ...        ...        ...    ...
9969         9970     deu                   NaN   2.468427          0     nw
9970         9971     deu               Deutsch   2.468427          0     nw
9971         9972     deu               Deutsch   9.873707          0     by
9972         9973     deu              homepage   1.234213          0     be
9973         9974     deu                   NaN   3.702640          0     nw
9974         9975     fra      Buchung einsehen   1.234213          0    ges
9975         9976     deu               Deutsch   2.468427          0     nw
9976         9977     deu                   NaN   4.936854          0     th
9977         9978     deu  Eurowings - Check-in   2.468427          0     he
9978         9979     deu                   NaN   2.468427          0     nw
9979         9980     gbr               English   4.936854          0    hry
9980         9981     deu              Italiano   2.468427          0     he
9981         9982     deu               Deutsch  35.792190          0     nw
9982         9983     usa  Eurowings - Check-in   3.702640          0     wa
9983         9984     deu                Select  66.647525          1     nw
9984         9985     deu                   NaN   2.468427          0     hb
9985         9986     deu                   NaN  11.107921          0     nw
9986         9987     deu                Select   1.234213          0     by
9987         9988     deu                   NaN   2.468427          0     hh
9988         9989     deu                   NaN  27.152696          0     sh
9989         9990     deu                   NaN   3.702640          0     by
9990         9991     deu                   NaN   2.468427          0     nw
9991         9992     deu                   NaN  49.368537          2     bw
9992         9993     deu                   NaN   2.468427          0     nw
9993         9994     deu               Deutsch  23.450055          0     nw
9994         9995     deu               Deutsch   2.468427          0     hh
9995         9996     deu   FAQ: Corona updates   1.234213          0     bw
9996         9997     usa         United States   1.234213          0     wa
9997         9998     usa         United States   1.234213          0     wa
9998         9999     deu                   NaN  12.342134          0     by

      registered          visit_start    visitor_id  visits
0          False    27-01-21 00:00:00           NaN       1
1          False  2021-01-27 00:00:01  2.757756e+10       2
2          False  2021-01-27 00:00:02  1.383274e+10       1
3          False  2021-01-27 00:00:08  3.287966e+10       1
4          False    27-01-21 00:00:19           NaN       1
5          False  2021-01-27 00:00:20  4.569249e+10       1
6          False  2021-01-27 00:00:24  2.164837e+09       1
7          False  2021-01-27 00:00:25  1.963231e+09       1
8          False    27-01-21 00:00:26           NaN       2
9          False  2021-01-27 00:00:36  4.188372e+10       1
10         False  2021-01-27 00:00:36  2.746951e+10       1
11         False  2021-01-27 00:00:46  3.370845e+10       1
12         False    27-01-21 00:00:48           NaN       1
13         False  2021-01-27 00:00:52  2.134720e+10       2
14         False  2021-01-27 00:01:00  1.084556e+09       1
15         False    27-01-21 00:01:01           NaN       1
16         False  2021-01-27 00:01:06  1.896744e+10       1
17         False  2021-01-27 00:01:08  3.767563e+10       1
18         False    27-01-21 00:01:12           NaN       1
19         False  2021-01-27 00:01:25  4.392868e+10       1
20         False  2021-01-27 00:01:39  6.523839e+09       1
21         False  2021-01-27 00:01:43  3.592736e+10       1
22         False  2021-01-27 00:01:48  2.489978e+10       1
23         False  2021-01-27 00:01:54  2.894260e+09       1
24         False  2021-01-27 00:01:57  5.638431e+09       1
25         False  2021-01-27 00:02:00  1.688441e+10       1
26         False  2021-01-27 00:02:10  2.601675e+10       1
27         False    27-01-21 00:02:20           NaN       2
28         False    27-01-21 00:02:20           NaN       2
29         False    27-01-21 00:02:20           NaN       1
...          ...                  ...           ...     ...
9969       False  2021-01-27 19:22:13  2.511709e+10       1
9970       False  2021-01-27 19:22:15  3.873492e+09       1
9971       False  2021-01-27 19:22:16  2.663641e+10       1
9972       False  2021-01-27 19:22:23  3.384317e+10       1
9973       False  2021-01-27 19:22:26  2.469959e+10       1
9974       False  2021-01-27 19:22:27  1.494504e+10       1
9975       False  2021-01-27 19:22:28  4.667698e+08       1
9976       False  2021-01-27 19:22:33  2.608209e+09       1
9977       False  2021-01-27 19:22:36  1.066718e+10       1
9978       False  2021-01-27 19:22:42  4.618573e+10       1
9979       False    27-01-21 19:22:45           NaN       1
9980       False  2021-01-27 19:22:47  2.482508e+10       1
9981       False  2021-01-27 19:23:03  2.998993e+10       2
9982       False    27-01-21 19:23:09           NaN       1
9983       False  2021-01-27 19:23:11  4.209721e+10       1
9984       False  2021-01-27 19:23:20  2.508355e+10       1
9985       False  2021-01-27 19:23:31  2.230012e+09       1
9986       False  2021-01-27 19:23:39  4.158393e+10       1
9987       False  2021-01-27 19:23:51  9.852117e+09       1
9988       False  2021-01-27 19:23:52  3.479042e+10       1
9989       False  2021-01-27 19:23:55  2.651601e+10       1
9990       False  2021-01-27 19:24:02  6.445224e+09       1
9991       False  2021-01-27 19:24:04  3.537415e+10       2
9992       False  2021-01-27 19:24:13  3.069687e+10       1
9993       False    27-01-21 19:24:18           NaN       1
9994       False  2021-01-27 19:24:24  4.021340e+10       1
9995       False  2021-01-27 19:24:28  6.969978e+09       1
9996       False  2021-01-27 19:24:29  1.840153e+08       1
9997       False    27-01-21 19:24:31           NaN       1
9998       False  2021-01-27 19:24:32  4.761638e+10       1

[9999 rows x 10 columns]

## Read Multiple json object

In [1]:
#read json file into dataframe
import pandas as pd
import numpy as np
import json
import os
from glob import glob
files_path = "C:/Users/Tossen Macs/Downloads/data-assignment/visitors"
files = glob(os.path.join(files_path,"*.json"))
files.sort()
files
df1 = pd.concat((pd.read_json(file, lines = True) for file in files), ignore_index = True)
df1.tail()

,countPerday,country,first_hit_pagename,hits_avg,logged_in,region,registered,visit_start,visitor_id,visits
229972,9995,deu,Select,22.215842,0,nw,False,2021-05-10 09:04:15,2.494461e+10,1
229973,9996,deu,Deutsch,13.576348,0,hh,False,2021-05-10 09:04:17,3.279242e+10,1
229974,9997,grc,English,4.936854,0,b,False,2021-05-10 09:04:17,4.074082e+10,1
229975,9998,deu,Select,37.026403,0,bw,False,2021-05-10 09:04:17,2.236860e+10,2
229976,9999,deu,NaN,35.792190,0,nw,False,2021-05-10 09:04:18,1.125277e+10,1

In [4]:
df1.createOrReplaceTempView("visitors")

AttributeError: 'DataFrame' object has no attribute 'createOrReplaceTempView'

In [28]:
#files_path = "C:\Tossen\Library\Udemy Course\data-assignment\searches"
# df1 = spark.read.option(multiline = True).json(files_path,"*.json")
#import required modules
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
 
#Create spark configuration object
conf = SparkConf()
conf.setMaster("local").setAppName("My app")
 
#Create spark context and sparksession
sc = SparkContext.getOrCreate(conf=conf)
spark = SparkSession(sc)
from pyspark.sql import SQLContext
sql_c = SQLContext(sc)
df1 = sql_c.read.json('C:/Tossen/Library/Udemy Course/data-assignment/searches/searches-part*',ignore_index = True)
df1.tail()

In [ ]:
print(bool(1))

In [4]:
print(int(True))

1

In [37]:
k = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
j = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(k,j)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [43]:
print(k[10::-1])
k.append(11)
print(k)

[11, 10, 9, 8, 7, 6, 5, 4, 3, 1]
[1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11]

In [44]:
k.extend([1,3])

In [41]:
a  = 13
print(k)
k.append(11)
k.append(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13]

In [46]:
len(k)

13

In [47]:
print(len(k))

13

In [54]:
m = k * 2
print(m)

[1, 3, 4, 5, 6, 7, 8, 9, 10, 1, 3, 1, 3, 4, 5, 6, 7, 8, 9, 10, 1, 3]

In [55]:
N = [x**2 for x in m]
print (N)

[1, 9, 16, 25, 36, 49, 64, 81, 100, 1, 9, 1, 9, 16, 25, 36, 49, 64, 81, 100, 1, 9]

In [67]:
l=[1,2, 3, 4, 5, 6, 7, 8, 9, 10]
for x in l: 
    if x%3 == 0:
        print(x)

3
6
9

In [72]:
t = 'mississipi'
t.count('s')

4

In [92]:
import os
from datetime import datetime
cwd = os.getcwd()
time = datetime.now()
print(cwd,time)

C:\Users\Tossen Macs 2021-06-19 11:15:12.925233

In [8]:
from datetime import datetime

# datetime object containing current date and time
now = datetime.now()
 
print("now =", now)

now = 2021-08-08 03:14:55.280543

In [14]:
from pandas import DataFrame
exception_list =dir(locals()['__builtins__'])
df=DataFrame(exception_list,columns=['Exception'])
#print(df)

In [2]:
print(type(df))

NameError: name 'df' is not defined

# WRITE RECORDS TO SQL SERVER PYTHON

In [47]:
import urllib
import sqlalchemy as sa
import pyodbc
import pandas as pd

connection_string = (
    'Driver={ODBC Driver 11 for SQL Server};'
    'SERVER=TMACS-ENGINE\SA;'
    'Database=EKEDC;'
    'UID=sa;'
    'PWD=Password123$;'
    'Trusted_Connection=no;'
)
connection_uri = f"mssql+pyodbc:///?odbc_connect={urllib.parse.quote_plus(connection_string)}"
engine = sa.create_engine(connection_uri, fast_executemany=True)

# Deleting existing data in SQL Table:-
#with engine.begin() as conn:
#    conn.execute(sa.text("DELETE FROM datbase.schema.TableName"))
df.to_sql("Visitor", engine, schema="dbo", if_exists="append", index=False)

# READ RECORDS FROM SQL SERVER PYTHON

# READ RESULT TO CURSOR

In [ ]:
import urllib
import sqlalchemy as sa
import pyodbc
import pandas as pd

conn =  pyodbc.connect('Driver={ODBC Driver 11 for SQL Server};'
    'SERVER=TMACS-ENGINE\SA;'
    'Database=CrownA+;'
    'UID=sa;'
    'PWD=Password123$;'
    'Trusted_Connection=no;'
)
TopCursor = conn.cursor()
result= TopCursor.execute("SELECT TOP 5 * FROM CBTransactions")
for row in TopCursor:
    print('row = %r' % (row,))

## READ SQL TABLE TO DATAFRAME

In [2]:
import pyodbc
import pandas as pd
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                        "Server=TMACS-ENGINE\sa;"
                        "Database=CrownA+;"
                        "uid=sa;pwd=Password123$")

# inputParam = input('Enter Search Param :')
# inputTableInstance = input('Enter Search TableInstance :')
df = pd.read_sql_query('select top 5 * from CBtransactions', cnxn)
print(df)

    ID  CustomerID   Amount  TransactionTypeID         TransactionDate  \
0  344       10381  13500.0                  1 2015-06-24 15:44:12.420
1  345       10381  57500.0                  2 2015-06-24 15:44:12.427
2  346       10380  27200.0                  1 2015-06-24 15:44:12.427
3  347       10380  35000.0                  2 2015-06-24 15:44:12.430
4  348       10379  12000.0                  1 2015-06-24 15:44:12.437

   IsSuccessful                             CreatedBy
0          True  B2E4D3CA-5449-47F4-B568-31E489C24A17
1          True  B2E4D3CA-5449-47F4-B568-31E489C24A17
2          True  B2E4D3CA-5449-47F4-B568-31E489C24A17
3          True  B2E4D3CA-5449-47F4-B568-31E489C24A17
4          True  B2E4D3CA-5449-47F4-B568-31E489C24A17

#### New found hobby

## PYTHON REGULAR EXPRESSION

In [31]:
import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
print(x)

<_sre.SRE_Match object; span=(0, 17), match='The rain in Spain'>

In [9]:
l=[1,2, 3, 4, 5, 6, 7, 8, 9, 10]
k = []
[k.append(x) for x in l if x%3 == 0]
print (k)

[3, 6, 9]

In [16]:
print(k[1])

6

In [3]:
stg='ABCD'
print(stg.lower())

abcd

In [104]:
import array as arr
a=arr.array('d', [1.1, 2.2, 3.8, 3.1, 3.7, 1.2, 4.6])
print(a.pop())
print(a[:-1])

4.6
array('d', [1.1, 2.2, 3.8, 3.1, 3.7])

###  STRING REVERSAL

In [107]:
# Reverse a string.

#Input: rose
#Output:  esor

def reverse_1(s):
    return s[::-1]

def reverse_2(s):
    rev = '' 
    for i in range(len(s)):
        index = len(s) - i - 1
        rev += s[index]
    return rev

print (reverse_1('rose'))
print (reverse_2('rose'))

esor
esor

In [ ]:
Product (product_id, product_name, product_type, product_version, product_price)
Customer  (customer_id, customer_first_name, customer_last_name, phone_number )
Sales  (transaction_id, customer_id, product_id, timestamp, total_amount, total_quantity )
Refund  (refund_id, original_transaction_id, customer_id, product_id, timestamp, refund_amount, refund_quantity)

# a) Display the customer name who made the second most purchases in value in the month of May 2013. Refunds should be excluded.
# b) Calculate the total amount of all transactions that happened in year 2013 and have not been refunded as of today.